<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSP検証ページ</title>
</head>
<body>
   <p><%= nonce %></p>
   <script nonce="<%= nonce %>">
    if (window.trustedTypes && trustedTypes.createPolicy) {
        const policy = trustedTypes.createPolicy("script-url", {
            createScriptURL: (str) => {
                const url = new URL(str, location.origin);
                if (url.origin !== location.origin) {
                    throw new Error("Invalid origin");
                }
                return url
            }
        })
        const script = document.createElement('script');
        script.src = policy.createScriptURL('./csp-test.js');
        document.body.appendChild(script);
    }
   </script> 
</body>
</html>